<h6>Follow me</h6>

<ul class="social-media">


    {% if site.harmony.social.twitter %}
    <li>
        <a title="{{ site.harmony.social.twitter }} on Twitter" 
            href="https://twitter.com/{{ site.harmony.social.twitter }}" 
            >Twitter</a>
    </li>   
    {% endif %}

    {% if site.harmony.social.github %}
    <li>
        <a title="{{ site.harmony.social.github }} on Github" 
            href="https://github.com/{{ site.harmony.social.github }}" 
            >Github</a>
    </li>
    {% endif %} 

    {% if site.harmony.social.facebook %}
    <li>
        <a title="{{ site.harmony.social.facebook }} on Facebook" 
            href="https://facebook.com/{{ site.harmony.social.facebook }}" 
            >Facebook</a>
    </li>
    {% endif %}

    {% if site.harmony.social.gplus %}
    <li>
        <a title="{{ site.harmony.social.gplus }} on Google Plus" 
            href="https://plus.google.com/{{ site.harmony.social.gplus }}" 
            >Google</a>
    </li>
    {% endif %}

    {% if site.harmony.social.dribble %}
    <li>
        <a title="{{ site.harmony.social.dribble }} on Dribble" 
            href="https://dribbble.com/{{ site.harmony.social.dribble }}" 
            >Dribble</a>
    </li> 
    {% endif %}

    {% if site.harmony.social.pinterest %}
    <li>
        <a title="{{ site.harmony.social.pinterest }} on Pinterest" 
            href="https://www.pinterest.com/{{ site.harmony.social.pinterest }}" 
            >Pinterest</a>
    </li> 
    {% endif %}

    {% if site.harmony.social.linkedin %}
    <li>
        <a title="{{ site.harmony.social.linkedin }} on LinkedIn" 
            href="https://www.linkedin.com/in/{{ site.harmony.social.linkedin }}" 
            >LinkedIn</a>
    </li>
    {% endif %}

</ul>